{% load static %}

<!-- brand section start -->
<section class="section-padding-top">
	<div class="brand-logo">
		<div class="barnd-bg">
			<div class="container">
				<div class="row text-center">
					<div id="brand-logo" class="re-owl-carousel21 owl-carousel product-slider owl-theme">
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/1.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/2.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/3.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/4.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/5.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/6.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/1.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="single-brand">
								<a href="#"><img src="{% static 'img/brand/3.png' %}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- brand section end -->