<footer class="re-footer-section">
    <!-- footer-top area start -->
    <div class="footer-top section-padding-top">
        <div class="footer-dsc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="single-text res-text">
                            <div class="footer-title">
                                <h4>Contact us</h4>
                                <hr class="dubble-border"/>
                            </div>
                            <div class="footer-text">
                                <ul>
                                    <li>
                                        <i class="pe-7s-map-marker"></i>
                                        <p>My Company, 45 Puffin Street 1245</p>
                                        <p class="rs">Poffinville France.</p>
                                    </li>
                                    <li>
                                        <i class="pe-7s-call"></i>
                                        <p>+201 (987) 6641 053</p>
                                        <p>+202 (987) 6641 056</p>
                                    </li>
                                    <li>
                                        <i class="pe-7s-mail-open"></i>
                                        <p>info@domainname.com</p>
                                        <p>company@outlook.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="single-text res-text">
                            <div class="footer-title">
                                <h4>my account</h4>
                                <hr class="dubble-border"/>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="login.html">My Account</a></li>
                                    <li><a href="wishlist.html">My Wishlist</a></li>
                                    <li><a href="order-complete">My Orders</a></li>
                                    <li><a href="#">My Credit slips</a></li>
                                    <li class="nm"><a href="#">My Addresses</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 margin-top">
                        <div class="single-text res-text">
                            <div class="footer-title">
                                <h4>customer service</h4>
                                <hr class="dubble-border"/>
                            </div>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">Site Map</a></li>
                                    <li class="nm"><a href="#">Gift Vouchers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-sm col-md-3 margin-top">
                        <div class="single-text res-text">
                            <div class="footer-title">
                                <h4>NEWSLETTER</h4>
                                <hr class="dubble-border"/>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consectetures do adipisicing elit, sed do eiusmod tempores incididunt ut labore</p>
                                <form action="mail.php" method="post">
                                    <input type="text" name="email" placeholder="Enter your mail" />
                                    <input type="submit" value="submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="dubble-border"/>
        </div>
        <div class="social-media">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="paypal social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="social-icon">
                            <ul class="floatright">
                                <li class="res-mar"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top area end -->
    <!-- footer-bottom area start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy; 2016 Devitems. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area end -->
</footer>