<!-- service section start -->
<section class="re-section-padding">
	<div class="service section-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-4">
					<div class="single-service">
						<i class="pe-7s-plane"></i>
						<h4>Free Shipping</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="single-service res-single">
						<i class="pe-7s-headphones"></i>
						<h4>Customer Support</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="single-service">
						<i class="pe-7s-refresh"></i>
						<h4>15 days money back</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- service section end -->